.site-footer {
    background:#262626;
    color: #b9b9b9;

    &__copyright {
      font-size: 16px;
      font-weight: 300;
      text-transform: uppercase;
     }

    &__brand {
      font-family: Pacifico;
      font-size: 25px;
      font-weight: 400;
    }

    &__text {
      font-size: 15px;
      font-weight: 300;
      &--pink {
        font-weight: 700;
        color: #ff2b58;
      }
    }
}

@include respond-to(to-lg) {
  .site-footer {
    padding: 1.3rem 0;
    &__copyright,  &__brand, &__text {
      padding: 2px 0;
    }
  }
}